[Unit]
Description=Timelapse
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/src/rpi-timelapse/tl.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
